.list-item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.image-name-genre-container {
  display: flex;
}
.track-image {
  width: 20%;
}
.name-genre-container {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name {
  color: #ffffff;
  font-size: 24px;
  font-family: roboto;
  font-weight: 500;
  margin: 0;
}
.genre {
  color: #3b82f6;
  font-size: 24px;
  font-family: roboto;
  font-weight: 400;
}
.duration-delete-button-container {
  display: flex;
  align-items: center;
  padding-right: 30px;
}
.duration {
  color: #ffffff;
  font-size: 24px;
  font-family: roboto;
  font-weight: 400;
  margin: 0;
}
.delete-button {
  background-color: transparent;
  border: none;
  margin-left: 30px;
}
